/* AUTOCOMPLETE */
.ui-autocomplete {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000 !important;
    display: none !important;
    float: left !important;
    min-width: 160px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0 !important;
    list-style: none !important;
    font-size: 13px !important;
    font-family: Roboto !important;
    text-align: left !important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    background-clip: padding-box !important;
}

.ui-autocomplete > li > div {
    display: block !important;
    padding: 3px 20px !important;
    clear: both !important;
    /*font-weight: normal;*/
    /*line-height: 1.42857143;*/
    /*color: #333333;*/
    font-size: 13px !important;
    font-family: Roboto !important;
    line-height: 1.5 !important;
    white-space: nowrap !important;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none !important;
    color: #262626 !important;
    background-color: #d4edda !important;
    cursor: pointer !important;
}

.ui-helper-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* DATATABLE */
/*table.dataTable tbody td.select-checkbox:after, table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:after, table.dataTable tbody th.select-checkbox:before {*/
/*    //top: 0.6em !important;*/
/*    content: "✔" ;*/
/*    color: #21b799 !important;*/
/*    top: 0.4em !important;*/
/*    margin-top: 0px;*/
/*    margin-left: -4px;*/
/*    text-align: center;*/
/*    //border: 0px solid rgb(0, 0, 0) !important;*/
/*    text-shadow: none !important;*/

/*}*/

.dropdown-content li>a, .dropdown-content li>span {
    color:  #495057 !important;
}

.pagination .page-item.active .page-link {
    color: #fff; !important;
    background-color: #21B799 !important;
}
.pagination .page-item.active .page-link:hover{
    background-color: #21B799 !important;
}

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #007bff !important;
}

.page-link {
    background-color: #ffffff !important;
    border: 1px solid #dee2e6 !important;
}

a {
    color: #007bff !important;
    cursor: pointer !important;
}

.dataTables_scrollBody thead tr {
    visibility: collapse !important;
}

.dataTables_scrollBody {
    margin-top: -18px !important;
}

/* MARGEN DERECHO BOTONES SUPERIORES*/
.mdbs {
    height: 40px !important;
    text-align: center !important;
    width: 105px !important;
    margin-top: 0px !important;
    padding: 10px !important;
    margin-right: 18px !important;
    font-size: 12px !important;
    font-family: Roboto !important;
}

/* TITULO PAGINA*/
.tp {
    color: white !important;
    background-color: #21b799 !important;
    width: 302px !important;
    text-align: center !important;
    height: 40px !important;
    margin-left: 15px !important;
}

.md-form .form-control {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}
.md-form {
    margin-top: 0rem  !important;
    margin-bottom: 0rem  !important;
}

.md-form input[type=text]:disabled {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 0px !important;
    padding-top: 5px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
.custom-select {
    display: inline-block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem 1.75rem .375rem .75rem !important;
    font-size: 13px !important;
    font-family: Roboto !important;
    line-height: 1px !important;
    color: #495057 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.ui-autocomplete-input {
    border: none !important;
    border-bottom: 0px solid #ced4da !important;
    height: 30px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
    padding-left: 5px !important;
    padding-bottom: 0px !important;
    text-align: left !important;
    margin: 0px 0px 0px 0px !important;
    font-size: 13px !important;
    font-family: Roboto !important;
}
.form-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    min-height:  20px !important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.col-form-label {
    padding-top: 6px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    height: 10px !important;
}

/* COLOR SELECT MOUSE*/
.select-wrapper input.select-dropdown {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    height: 30px !important;
    margin-top: 5px  !important;
    border-bottom: 1px solid #ced4da !important;
}

/* COLOR SELECT ENTER*/
.select-wrapper input.select-dropdown, .select-wrapper span.caret {
    color: black !important;
    background-color: #ffffff !important;
    padding-top: 0px !important;
    padding-bottom: 3px !important;
    height: 27px !important;

}

.row {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}



body {
    margin: 0 !important;
    font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
    font-size: 13px !important;
    line-height: 1 !important;
    color: #212529 !important;
    text-align: left !important;
    background-color: #fff !important;
}

/* COLOR CONCILIACION BANCARIA*/
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #d4edda !important;
}

.md-form input[type="text"]:not(.browser-default) {
    border-bottom: 1px solid rgb(206, 212, 218) !important;
}

/* FOCO DEL INPUT */
.md-form input:not([type]):focus:not([readonly]),
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]),
.md-form
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search"]:not(.browser-default):focus:not([readonly]),
.md-form input[type="search-md"]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #21b799 !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

/* LINEA VERDE EN INPUT */
.md-form input:not([type]), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form input[type="text"]:not(.browser-default), .md-form textarea.md-textarea {
    box-sizing: content-box !important;
    background-color: transparent !important;
    border-top-width: initial !important;
    border-right-width: initial !important;
    border-left-width: initial !important;
    border-top-color: initial !important;
    border-right-color: initial !important;
    border-left-color: initial !important;
    box-shadow: none !important;
    border-style: none none solid !important;
    border-image: initial !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
    outline: 0px !important;
    height: 30px !important;
    margin-top: 0px !important;
    /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;*/
}

/* TITULO TESORERIA TERCERO */
.tt:disabled{
 height: 25px !important;
    background-color: white !important;
}

/* TITULO TESORERIA OTROS */
.tto{
    height: 33px !important;
    background-color: white !important;
}

/* TITULO TOTAL MONTO */
.ttm{
    height: 30px !important;
    background-color: white !important;
}
/* COLOR EN LOS SELECT TESORERIA */
.dropdown-content li.active, .dropdown-content li:hover {
     background-color: #d4edda !important;
}

.heavy-rain-gradient {
    background-image: linear-gradient(to top, #bf1c1c 0, #00699d 100%) !important;
}
 table.table th {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
     font-size: 13px !important;
     font-family: Roboto !important;
}

table.table td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 13px !important;
    font-family: Roboto !important;
}

table.dataTable tbody td.select-checkbox::before, table.dataTable tbody th.select-checkbox::before {
    content: " " !important;
    margin-top: 1px !important;
    margin-left: -6px !important;
    border: 0px solid rgb(0, 0, 0) !important;
    border-radius: 3px !important;
}

table.dataTable tr.selected td.select-checkbox::after, table.dataTable tr.selected th.select-checkbox::after {
    content: "✔";
    color: #21b799 !important;
    top: 0.4em !important;
    margin-top: 0px;
    margin-left: -4px;
    text-align: center;
    text-shadow: none !important;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #ffffff !important;
}

