{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/servicio.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<script type="text/javascript" src="{{ .hosting }}static/js/jspanel.js"></script>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h3 class="tp">Borrar Devolucion Compra Servicio</h3>
                </div>
                <br>
                        <form id="formulario" method="POST"
                              action="/DevolucioncompraservicioEliminar/{{ .Devolucioncompraservicio.Codigo }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Devolucion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Proveedor</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Compra No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Compra"
                                               id="Compra"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="FormadepagoNombre"
                                               id="FormadepagoNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Formadepago"
                                               id="Formadepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Medio Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="MediodepagoNombre"
                                               id="MediodepagoNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Mediodepago"
                                               id="Mediodepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Almacenista</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="AlmacenistaNombre"
                                               id="AlmacenistaNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Almacenista"
                                               id="Almacenista"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="CentroNombre"
                                               id="CentroNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Centro"
                                               id="Centro"
                                               class="form-control"/>
                                    </div>
                                </div>
                         </div>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-sm" cellspacing="0" width="100%">
                                    <thead class="miCabeceraTabla">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>No</th>
                                        <th style="padding-left: 5px">Codigo</th>
                                        <th style="padding-left: 5px">Descripcion</th>
                                        <th style="padding-left: 5px">Unidad</th>
                                        <th style="padding-left: 0px">Iva</th>
                                        <th style="padding-left: 68px">Cantidad</th>
                                        <th style="padding-left: 57px">Vr. Unitario</th>
                                        <th style="padding-left: 120px">Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" id="Subtotal19"/>
                            <input type="hidden" id="Subtotal5"/>
                            <input type="hidden" id="Subtotal0"/>
                            <input type="hidden" id="SubtotalDescuento19"/>
                            <input type="hidden" id="SubtotalDescuento5"/>
                            <input type="hidden" id="SubtotalDescuento0"/>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base 0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total Items</label>
                                    <div class="col-sm-2">
                                        <div class="md-form mt-0 mdo">
                                            <input type="text"
                                                id="Items"
                                                class="form-control text-right" readonly/>
                                        </div>
                                   </div>
                                <label class="col-sm-1 col-form-label">Total Iva</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-1 col-form-label">Porcentaje</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="PorcentajeRetencionFuente"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Ret. Fte.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalRetencionFuente"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-1 col-form-label">Porcentaje</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="PorcentajeRetencionIca"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Ret. Ica</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalRetencionIca"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-9">
                                </div>
                                <label class="col-sm-1 col-form-label">Total Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a onclick="window.history.go(-1); return false;"
                                       class="btn btn-outline-dark waves-effect btn-md float-right mdbsi">Cancelar </a>
                                    <button type="submit"
                                            class="btn btn-outline-success waves-effect btn-md float-right mdbsi">
                                        Borrar
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="FormadepagoNuevo"
       type="hidden"/>
<input id="MediodepagoNuevo"
       type="hidden"/>
<input id="AlmacenistaNuevo"
       type="hidden"/>
<input id="CentroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventaserviciotipoiva" value="{{ .ventaserviciotipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>
<input id="retfte" value="{{ .retfte }}"
       type="hidden"/>
<input id="miperiodo" value="{{ .miperiodo }}"
       type="hidden"/>
<script src="{{ .hosting }}static/js/ventaservicio.js"></script>

        {{template "devolucioncompraservicioscript" }}
        {{template "autocompletaIva" }}
<script>
    $(document).ready(function () {

        // llenar valores
        $("#Codigo").val('{{ .Devolucioncompraservicio.Codigo }}');
        $("#Compra").val('{{ .Devolucioncompraservicio.Compra }}');
        $("#Fecha").val('{{ .Devolucioncompraservicio.Fecha.Format "2006-01-02"}}');
        $("#Vence").val('{{ .Devolucioncompraservicio.Vence.Format "2006-01-02"}}');
        $("#Plazo").val('');

        $("#terceroCodigo").val('{{ .Devolucioncompraservicio.Tercero }}');
        $("#terceroDv").val('{{ .Devolucioncompraservicio.TerceroDetalle.Dv }}');
        $("#terceroNombre").val('{{ .Devolucioncompraservicio.TerceroDetalle.Nombre }}');
        $("#terceroDireccion").val('{{ .Devolucioncompraservicio.TerceroDetalle.Direccion }}');
        $("#terceroTelefono1").val('{{ .Devolucioncompraservicio.TerceroDetalle.Telefono1 }}');
        $("#terceroEmail1").val('{{ .Devolucioncompraservicio.TerceroDetalle.Email1 }}');

        $('#Subtotal').val('{{ .Devolucioncompraservicio.Subtotal }}');
        $('#Descuento').val('{{ .Devolucioncompraservicio.Descuento}}');
        $('#SubtotalIva19').val('{{ .Devolucioncompraservicio.Subtotaliva19 }}');
        $('#SubtotalIva5').val('{{ .Devolucioncompraservicio.Subtotaliva5 }}');
        $('#SubtotalBase19').val('{{ .Devolucioncompraservicio.Subtotalbase19 }}');
        $('#SubtotalBase5').val('{{ .Devolucioncompraservicio.Subtotalbase5 }}');
        $('#SubtotalBase0').val('{{ .Devolucioncompraservicio.Subtotalbase0 }}');
        $('#Total').val('{{.Devolucioncompraservicio.Total }}');
        $('#Neto').val('{{ .Devolucioncompraservicio.Neto }}');
        $('#Formadepago').val('{{ .Devolucioncompraservicio.Formadepago}}');
        $('#Mediodepago').val('{{ .Devolucioncompraservicio.Mediodepago}}');
        $('#Almacenista').val('{{ .Devolucioncompraservicio.Almacenista}}');
        $('#Centro').val('{{ .Devolucioncompraservicio.Centro}}');

        $('#CentroNombre').val('{{ .Devolucioncompraservicio.CentroDetalle.Nombre}}');
        $('#FormadepagoNombre').val('{{ .Devolucioncompraservicio.FormadepagoDetalle.Nombre}}');
        $('#MediodepagoNombre').val('{{ .Devolucioncompraservicio.MediodepagoDetalle.Nombre}}');
        $('#AlmacenistaNombre').val('{{ .Devolucioncompraservicio.AlmacenistaDetalle.Nombre}}');
        $('#PorcentajeRetencionFuente').val('{{ .Devolucioncompraservicio.PorcentajeRetencionFuente }}');
        $('#TotalRetencionFuente').val('{{ .Devolucioncompraservicio.TotalRetencionFuente }}');
        $('#PorcentajeRetencionIca').val('{{ .Devolucioncompraservicio.PorcentajeRetencionIca }}');
        $('#TotalRetencionIca').val('{{ .Devolucioncompraservicio.TotalRetencionIca }}');
        cont = 1;
        {{ range.detalle }}
        agregar();
        $('#seleccion_producto' + cont).val('{{ .Codigoservicio }}');
        $('#seleccion_producto' + cont).attr('disabled', 'disabled');
        $('#nombre' + cont).val('{{ .Nombreservicio }}');
        $('#nombre' + cont).attr('disabled', 'disabled');
        $('#unidad' + cont).val('{{ .Unidadservicio }}');
        $('#unidad' + cont).attr('disabled', 'disabled');
        $('#iva' + cont).val('{{ .Ivaservicio }}');
        $('#iva' + cont).attr('disabled', 'disabled');
        $('#ivanombre' + cont).val('{{ .Ivanombreservicio }}');
        $('#ivanombre' + cont).attr('disabled', 'disabled');
        $('#cantidad' + cont).val(formatomoneda('{{ .Cantidad }}'));
        $('#cantidad' + cont).attr('disabled', 'disabled');
        $('#valor' + cont).val(formatomoneda('{{ .Precio }}'));
        $('#valor' + cont).attr('disabled', 'disabled');
        cont++;

        {{ end }}
        totales();
    });

</script>
{{end}}
