{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/servicio.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<script type="text/javascript" src="{{ .hosting }}static/js/jspanel.js"></script>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h3 class="tp">Nuevo Pedido Servicio</h3>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div id="aviso"
                             class="alert text-center alert-success alert-dismissible"
                             role="alert" style="width: 302px; height: 40px; padding-top: 7px">
                            <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p id="textoaviso">Cargando...</p>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br>
                        <form id="formulario" method="POST"
                              action="/PedidoservicioAgregar">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Pedido No.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Proveedor</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control" disabled>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="FormadepagoNombre"
                                               id="FormadepagoNombre"
                                               class="form-control" required/>
                                        <input type="hidden"
                                               name="Formadepago"
                                               id="Formadepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Medio Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="MediodepagoNombre"
                                               id="MediodepagoNombre"
                                               class="form-control" required/>
                                        <input type="hidden"
                                               name="Mediodepago"
                                               id="Mediodepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Almacenista</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="AlmacenistaNombre"
                                               id="AlmacenistaNombre"
                                               class="form-control" required/>
                                        <input type="hidden"
                                               name="Almacenista"
                                               id="Almacenista"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="CentroNombre"
                                               id="CentroNombre"
                                               class="form-control" required/>
                                        <input type="hidden"
                                               name="Centro"
                                               id="Centro"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-sm" cellspacing="0" width="100%">
                                    <thead class="miCabeceraTabla">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>No</th>
                                        <th style="padding-left: 5px">Codigo</th>
                                        <th style="padding-left: 5px">Descripcion</th>
                                        <th style="padding-left: 5px">Unidad</th>
                                        <th style="padding-left: 0px">Iva</th>
                                        <th style="padding-left: 68px">Cantidad</th>
                                        <th style="padding-left: 57px">Vr. Unitario</th>
                                        <th style="padding-left: 120px">Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                    <input type="hidden" id="Subtotal19"/>
                    <input type="hidden" id="Subtotal5"/>
                    <input type="hidden" id="Subtotal0"/>
                    <input type="hidden" id="SubtotalDescuento19"/>
                    <input type="hidden" id="SubtotalDescuento5"/>
                    <input type="hidden" id="SubtotalDescuento0"/>
                    <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base 0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total Items</label>
                                      <div class="col-sm-2">
                                           <div class="md-form mt-0 mdo">
                                               <input type="text"
                                                   id="Items"
                                                   class="form-control text-right"/>
                                          </div>
                                      </div>
                                <label class="col-sm-1 col-form-label">Total Iva</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-1 col-form-label">Porcentaje</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="PorcentajeRetencionFuente"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Ret. Fte.</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalRetencionFuente"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-1 col-form-label">Porcentaje</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="PorcentajeRetencionIca"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Ret. Ica</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalRetencionIca"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-9">
                                </div>
                                <label class="col-sm-1 col-form-label">Total Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a href="/PedidoservicioLista"
                                       class="btn btn-outline-dark waves-effect btn-md float-right mdbsi">Cancelar </a>
                                    <button type="button" id="guardar"
                                            onclick="guardardoc('Nuevo')"
                                            class="btn btn-outline-success waves-effect btn-md float-right mdbsi">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</div>
<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="FormadepagoNuevo"
       type="hidden"/>
<input id="MediodepagoNuevo"
       type="hidden"/>
<input id="AlmacenistaNuevo"
       type="hidden"/>
<input id="CentroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventaserviciotipoiva" value="{{ .ventaserviciotipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>
<input id="retfte" value="{{ .retfte }}"
       type="hidden"/>
<input id="miperiodo" value="{{ .miperiodo }}"
       type="hidden"/>
<script src="{{ .hosting }}static/js/ventaservicio.js"></script>

        {{template "pedidoservicioscript" }}
        {{template "autocompletaFormadepago" }}
        {{template "autocompletaMediodepago" }}
        {{template "autocompletaAlmacenista" }}
        {{template "autocompletaCentro" }}
        {{template "autocompletaIva" }}
<script>
    $(document).ready(function () {
        // INICIA FECHA
        var m = moment().set('year', $('#miperiodo').val()).format("YYYY-MM-DD");
        $("#Fecha").val(m);
        $("#Vence").val(m);

        // INICIA CODIGO  YA EXISTE
        $("#Codigo").focus();
        $("#aviso").hide();
        $("#guardar").prop("disabled", true);
        $("#Codigo").focusout(function () {
            codigo = $("#Codigo").val().replace(" ", "_").toUpperCase();
            $("#Codigo").val(codigo);
            if ($("#Codigo").val().length > 0) {
                console.log("Handler for .keyup() called." + $("#Codigo").val());
                $.ajax({
                    url: "/PedidoservicioExiste/" + $("#Codigo").val(),
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (respuesta) {
                        if (respuesta.result == true) {
                            console.log(respuesta.result);
                            $("#Codigo").val("");
                            $("#textoaviso").html("El Numero Ya Existe");
                            $("#aviso").show();
                            $("#guardar").prop("disabled", true);
                        } else {
                            console.log(respuesta.result);
                            $("#aviso").hide();
                            $("#guardar").prop("disabled", false);
                        }
                    },
                });
            }
        });

        // INICIA AUTOCOMPLETADO
        autocompletaTercero('#terceroCodigo');
        autocompletaFormadepago('#FormadepagoNombre', '#Formadepago');
        autocompletaMediodepago('#MediodepagoNombre', '#Mediodepago');
        autocompletaAlmacenista('#AlmacenistaNombre', '#Almacenista');
        autocompletaCentro('#CentroNombre', '#Centro');

        // DATOS INICIALES
        $("#PorcentajeRetencionFuente").val($("#retfte").val());
        $("#PorcentajeRetencionIca").val("0.00");
        $('#Formadepago').val("2");
        $('#FormadepagoNombre').val("Credito");
        $('#Mediodepago').val("46");
        $('#MediodepagoNombre').val("Transferencia Debito");
        $('#Centro').val("1");
        $('#CentroNombre').val("Almacen Principal");
        $("#Almacenista").val('{{ .almacenista.Codigo }}');
        $("#AlmacenistaNombre").val('{{ .almacenista.Nombre }}');

        // INICIA FOCUS
        $('#Codigo').focus();

        // TRAE DATOS DE EDITAR
        if ("{{ .codigo }}" == "False") {
            agregar();
        } else {
        // llenar valores
            $("#Fecha").val('{{ .pedidoservicio.Fecha.Format "2006-01-02"}}');
            $("#Vence").val('{{ .pedidoservicio.Vence.Format "2006-01-02"}}');
            $("#Plazo").val('');

            $("#terceroCodigo").val('{{ .pedidoservicio.Tercero }}');
            $("#terceroDv").val('{{ .pedidoservicio.TerceroDetalle.Dv }}');
            $("#terceroNombre").val('{{ .pedidoservicio.TerceroDetalle.Nombre }}');
            $("#terceroDireccion").val('{{ .pedidoservicio.TerceroDetalle.Direccion }}');
            $("#terceroTelefono1").val('{{ .pedidoservicio.TerceroDetalle.Telefono1 }}');
            $("#terceroEmail1").val('{{ .pedidoservicio.TerceroDetalle.Email1 }}');

            $('#Subtotal').val('{{ .pedidoservicio.Subtotal }}');
            $('#Descuento').val('{{ .pedidoservicio.Descuento}}');
            $('#SubtotalIva19').val('{{ .pedidoservicio.Subtotaliva19 }}');
            $('#SubtotalIva5').val('{{ .pedidoservicio.Subtotaliva5 }}');
            $('#SubtotalBase19').val('{{ .pedidoservicio.Subtotalbase19 }}');
            $('#SubtotalBase5').val('{{ .pedidoservicio.Subtotalbase5 }}');
            $('#SubtotalBase0').val('{{ .pedidoservicio.Subtotalbase0 }}');
            $('#Total').val('{{.pedidoservicio.Total }}');
            $('#Neto').val('{{ .pedidoservicio.Neto }}');
            $('#Formadepago').val('{{ .pedidoservicio.Formadepago}}');
            $('#Mediodepago').val('{{ .pedidoservicio.Mediodepago}}');
            $('#Almacenista').val('{{ .pedidoservicio.Almacenista}}');
            $('#Centro').val('{{ .pedidoservicio.Centro}}');

            $('#CentroNombre').val('{{ .pedidoservicio.CentroDetalle.Nombre}}');
            $('#FormadepagoNombre').val('{{ .pedidoservicio.FormadepagoDetalle.Nombre}}');
            $('#MediodepagoNombre').val('{{ .pedidoservicio.MediodepagoDetalle.Nombre}}');
            $('#AlmacenistaNombre').val('{{ .pedidoservicio.AlmacenistaDetalle.Nombre}}');
            $('#PorcentajeRetencionFuente').val('{{ .pedidoservicio.PorcentajeRetencionFuente }}');
            $('#TotalRetencionFuente').val('{{ .pedidoservicio.TotalRetencionFuente }}');
            $('#PorcentajeRetencionIca').val('{{ .pedidoservicio.PorcentajeRetencionIca }}');
            $('#TotalRetencionIca').val('{{ .pedidoservicio.TotalRetencionIca }}');
        cont = 1;
        {{ range.detalle }}
        agregar();
            $('#seleccion_producto' + cont).val('{{ .Codigoservicio }}');
            $('#nombre' + cont).val('{{ .Nombreservicio }}');
            $('#unidad' + cont).val('{{ .Unidadservicio }}');
            $('#iva' + cont).val('{{ .Ivaservicio }}');
            $('#ivanombre' + cont).val('{{ .Ivanombreservicio }}');
            $('#cantidad' + cont).val(formatomoneda('{{ .Cantidad }}'));
            $('#valor' + cont).val(formatomoneda('{{ .Precio }}'));
        cont++;

        {{ end }}
        totales();
        }
    });

</script>
{{end}}
