{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/datos.css"/>
<script type="text/javascript" src="{{ .hosting }}static/js/jspanel.js"></script>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="tp">Nuevo Vendedor</h3>
                    </div>
                    <div class="col-sm-4">
                        <div id="aviso"
                             class="alert text-center alert-success alert-dismissible"
                             role="alert" style="width: 302px; height: 40px; padding-top: 7px">
                            <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p id="textoaviso">Cargando...</p>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                         role="tabpanel" aria-labelledby="home-tab">
                <form id="formulario" method="POST"
                      action="/VendedorInsertar">
                    <div class="form-group row mb-0">
                        <label class="col-sm-1 col-form-label">Codigo</label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Codigo"
                                       id="Codigo"
                                       class="form-control" required/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Nombre</label>
                        <div class="col-sm-5">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Nombre"
                                       id="Nombre"
                                       class="form-control"/>
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label">Comision %
                        </label>
                        <div class="col-sm-2">
                            <div class="md-form mt-0">
                                <input type="text"
                                       name="Comision"
                                       id="Comision"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            <a onclick="window.history.go(-1); return false;"
                               class="btn btn-outline-dark waves-effect btn-md float-right mdbi">Cancelar </a>
                            <button type="submit" id="guardar"
                                    class="btn btn-outline-success waves-effect btn-md float-right mdbi">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input id="TerceroNuevo"
       type="hidden"/>

        {{template "autocompletaVendedor" }}

<script>
    var numeroPanel = 1;

    function cerrarVentana() {
        varPanel = "{{.Panel}}";
        if (varPanel != "False") {
            codigoElemento = $('#Nombre').val().replace('.', '');
            elemento = '{{ .Elemento }}';
            var myCustomData = {
                valido: true,
                codigoElemento: codigoElemento,
                elementoPanel: elemento
            }
            var event = new CustomEvent('cerrarPanel', {detail: myCustomData});
            window.parent.document.dispatchEvent(event);
        }
        else
        {
            window.history.go(-1);

        }

    }

    function cerrar() {
        codigoElemento = $('#Nombre').val().replace('.', '');
        elemento = '{{ .Elemento }}';
        var myCustomData = {
            valido: true,
            codigoElemento: codigoElemento,
            elementoPanel: elemento
        }
        var event = new CustomEvent('pasarParametros', {detail: myCustomData});
        window.parent.document.dispatchEvent(event);
    }

    $(document).ready(function () {
        // crear medio de pago
        varPanel = "{{.Panel}}";
        if (varPanel != "False") {
            // $('#Nombre').val('{{ .Codigo }}');

            mivalor="{{ .codigo}}";
            const  isdigit=(value)=>{
                const val=Number(mivalor)?true:false
                console.log(val);
                return val
            }

            // alert(isdigit(mivalor));
            valor = "{{ .codigo}}";
            if (existeTercero(valor)==false)
            {
                obj='#Codigo';
                panelLista('TerceroNuevo', 'True', valor, obj.replace('#', ''));
            }
            else
            {

            }



            if (isdigit(mivalor)==true )
            {
                $('#Codigo').val("{{ .codigo}}");
                $("#Nombre").focus();
            }
            else
            {
                $('#Nombre').val("{{ .codigo}}");
                $("#Codigo").focus();

            }

            $('#formulario').submit(function () { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function (response) { // on success..
                        cerrar();
                    }
                });
                return false;
            });
        }

        $("#Comision").mask('##.00', {reverse: true});

        //INICIA AUTOCOMPLETADO
        autocompletaTercero('#Codigo', '#Nombre');

        // agrega clase
        $("#Codigo").addClass("tituloAutocompleta");

        //INICIA FOCUS
        $('#Codigo').focus();

        //INICIA SELECT
        $('.mdb-select').materialSelect({});

        //TRAER COPIA DE EDITAR
        if (varPanel == "False") {
            if ("False" == "{{ .codigo}}") {
            } else {
                //INICIA DATOS INICIALES
                $('#Nombre').val("{{ .emp.Nombre}}");
            }
        }
        //TERMINA DATOS INICIALES
    });

    //INICIA EXISTE TERCERO
    $("#aviso").hide();
    $("#guardar").prop("disabled", false);
    $("#guardar").prop("disabled", true);
    $("#Codigo").focusout(function () {
        if ($("#Codigo").val().length > 0) {
            console.log("Handler for .keyup() called." + $("#Codigo").val());
            valor = $("#Codigo").val().replace(/\,/g, '');
            $.ajax({
                url: "/VendedorExiste/" + valor,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (respuesta) {
                    if (respuesta.result == true) {
                        console.log(respuesta.result);
                        $("#Codigo").val("");
                        $("#textoaviso").html("El Codigo Ya Existe");
                        $("#aviso").show();
                        $("#guardar").prop("disabled", true);
                    } else {
                        console.log(respuesta.result);
                        $("#aviso").hide();
                        $("#guardar").prop("disabled", false);
                    }
                },
            });
        }
    });

</script>
{{end}}
