{{define "body" }}
<link rel="stylesheet" href="{{ .hosting }}static/css/servicio.css"/>
<link rel="stylesheet" href="{{ .hosting }}static/css/jspanel.css"/>
<script type="text/javascript" src="{{ .hosting }}static/js/jspanel.js"></script>
<script src="{{ .hosting }}static/js/jquery-ui.js"></script>
<script src="{{ .hosting }}static/js/cleave.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h3 class="tp">Borrar Cotizacion Servicio</h3>
                </div>
                        <form id="formulario" method="POST"
                              action="/CotizacionservicioEliminar/{{ .cotizacionservicio.Codigo }}">
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Cotizacion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="Codigo"
                                               id="Codigo"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Cliente</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroCodigo"
                                               class="form-control text-left" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-4">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroNombre"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Direccion</label>
                                <div class="col-sm-3">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               id="terceroDireccion"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               placeholder="DD/mm/YYYY"
                                               name="Fecha"
                                               id="Fecha"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Fecha
                                    Vence</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="Date"
                                               name="Vence"
                                               id="Vence"
                                               class="form-control" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Forma Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="FormadepagoNombre"
                                               id="FormadepagoNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Formadepago"
                                               id="Formadepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Medio Pago</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="MediodepagoNombre"
                                               id="MediodepagoNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Mediodepago"
                                               id="Mediodepago"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Vendedor</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="VendedorNombre"
                                               id="VendedorNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Vendedor"
                                               id="Vendedor"
                                               class="form-control"/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Centro</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0">
                                        <input type="text"
                                               name="CentroNombre"
                                               id="CentroNombre"
                                               class="form-control" disabled/>
                                        <input type="hidden"
                                               name="Centro"
                                               id="Centro"
                                               class="form-control"/>
                                    </div>
                                </div>
                         </div>
                            <div class="form-group row mb-0">
                                <table id="tabla"
                                       class="table table-sm" cellspacing="0" width="100%">
                                    <thead class="miCabeceraTabla">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>No</th>
                                        <th style="padding-left: 5px">Codigo</th>
                                        <th style="padding-left: 5px">Descripcion</th>
                                        <th style="padding-left: 5px">Unidad</th>
                                        <th style="padding-left: 0px">Iva</th>
                                        <th style="padding-left: 68px">Cantidad</th>
                                        <th style="padding-left: 57px">Vr. Unitario</th>
                                        <th style="padding-left: 120px">Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" id="Subtotal19"/>
                            <input type="hidden" id="Subtotal5"/>
                            <input type="hidden" id="Subtotal0"/>
                            <input type="hidden" id="SubtotalDescuento19"/>
                            <input type="hidden" id="SubtotalDescuento5"/>
                            <input type="hidden" id="SubtotalDescuento0"/>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Base
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase19"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase5"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Base 0%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalBase0"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Subtotal</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Subtotal"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-sm-1 col-form-label">Iva
                                    19%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva19"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Iva
                                    5%</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="SubtotalIva5"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total Items</label>
                                    <div class="col-sm-2">
                                        <div class="md-form mt-0 mdo">
                                            <input type="text"
                                                id="Items"
                                                class="form-control text-right" readonly/>
                                        </div>
                                   </div>
                                <label class="col-sm-1 col-form-label">Total Iva</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="TotalIva"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-sm-6">
                                </div>
                                <label class="col-sm-1 col-form-label">Autoretencion</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdo">
                                        <input type="text"
                                               id="Ret2201"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                                <label class="col-sm-1 col-form-label">Total Neto</label>
                                <div class="col-sm-2">
                                    <div class="md-form mt-0 mdt">
                                        <input type="text"
                                               id="Neto"
                                               class="form-control text-right" readonly/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row mb-0">
                                <div class="col-sm-12">
                                    <a onclick="window.history.go(-1); return false;"
                                       class="btn btn-outline-dark waves-effect btn-md float-right mdbsi">Cancelar </a>
                                    <button type="submit"
                                            class="btn btn-outline-success waves-effect btn-md float-right mdbsi">
                                        Borrar
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
<!--   INICIA NUEVO TERCERO-->
<input id="terceroNuevo"
       type="hidden"/>
<input id="productoNuevo"
       type="hidden"/>
<input id="Total"
       type="hidden"/>
<input id="Ventaserviciotipoiva" value="{{ .ventaserviciotipoiva }}"
       type="hidden"/>
<input id="autoret2201" value="{{ .autoret2201 }}"
       type="hidden"/>

<script src="{{ .hosting }}static/js/cotizacionservicio.js"></script>

        {{template "cotizacionservicioscript" }}
        {{template "autocompletaIva" }}
<script>
    $(document).ready(function () {

        // llenar valores
        $("#Codigo").val('{{ .cotizacionservicio.Codigo }}');
        $("#Fecha").val('{{ .cotizacionservicio.Fecha.Format "2006-01-02"}}');
        $("#Vence").val('{{ .cotizacionservicio.Vence.Format "2006-01-02"}}');
        $("#Plazo").val('');

        $("#terceroCodigo").val('{{ .cotizacionservicio.Tercero }}');
        $("#terceroDv").val('{{ .cotizacionservicio.TerceroDetalle.Dv }}');
        $("#terceroNombre").val('{{ .cotizacionservicio.TerceroDetalle.Nombre }}');
        $("#terceroDireccion").val('{{ .cotizacionservicio.TerceroDetalle.Direccion }}');
        $("#terceroTelefono1").val('{{ .cotizacionservicio.TerceroDetalle.Telefono1 }}');

        $('#Subtotal').val('{{ .cotizacionservicio.Subtotal }}');
        $('#Descuento').val('{{ .cotizacionservicio.Descuento}}');
        $('#SubtotalIva19').val('{{ .cotizacionservicio.Subtotaliva19 }}');
        $('#SubtotalIva5').val('{{ .cotizacionservicio.Subtotaliva5 }}');
        $('#SubtotalBase19').val('{{ .cotizacionservicio.Subtotalbase19 }}');
        $('#SubtotalBase5').val('{{ .cotizacionservicio.Subtotalbase5 }}');
        $('#SubtotalBase0').val('{{ .cotizacionservicio.Subtotalbase0 }}');
        $('#Total').val('{{.cotizacionservicio.Total }}');
        $('#Neto').val('{{ .cotizacionservicio.Neto }}');
        $('#Formadepago').val('{{ .cotizacionservicio.Formadepago}}');
        $('#Mediodepago').val('{{ .cotizacionservicio.Mediodepago}}');
        $('#Vendedor').val('{{ .cotizacionservicio.Vendedor}}');
        $('#Centro').val('{{ .cotizacionservicio.Centro}}');

        $('#CentroNombre').val('{{ .cotizacionservicio.CentroDetalle.Nombre}}');
        $('#FormadepagoNombre').val('{{ .cotizacionservicio.FormadepagoDetalle.Nombre}}');
        $('#MediodepagoNombre').val('{{ .cotizacionservicio.MediodepagoDetalle.Nombre}}');
        $('#VendedorNombre').val('{{ .cotizacionservicio.VendedorDetalle.Nombre}}');
        cont = 1;
        {{ range.detalle }}
        agregar();
        $('#seleccion_producto' + cont).val('{{ .Codigoservicio }}');
        $('#seleccion_producto' + cont).attr('disabled', 'disabled');
        $('#nombre' + cont).val('{{ .Nombreservicio }}');
        $('#nombre' + cont).attr('disabled', 'disabled');
        $('#unidad' + cont).val('{{ .Unidadservicio }}');
        $('#unidad' + cont).attr('disabled', 'disabled');
        $('#iva' + cont).val('{{ .Ivaservicio }}');
        $('#iva' + cont).attr('disabled', 'disabled');
        $('#ivanombre' + cont).val('{{ .Ivanombreservicio }}');
        $('#ivanombre' + cont).attr('disabled', 'disabled');
        $('#cantidad' + cont).val(formatomoneda('{{ .Cantidad }}'));
        $('#cantidad' + cont).attr('disabled', 'disabled');
        $('#valor' + cont).val(formatomoneda('{{ .Precio }}'));
        $('#valor' + cont).attr('disabled', 'disabled');
        cont++;

        {{ end }}
        totales();
    });

</script>
{{end}}
